html {
	background-color: aquamarine;
}

.form-container {
	max-width: 300px;
	margin: 5px 15px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.select-input {
	width: 100%;
	max-width: 300px;
}

.birth-input {
	width: 94%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
}

.submit-button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.submit-button:hover {
	background-color: #0056b3;
}

.genre-button {
	margin-left: 5px;
	padding: 3px 5px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.genre-button:hover {
	background-color: #096bd4fa;
}

/* buttons for links*/

.button-link {
	display: inline-block;
	padding: 10px 20px;
	margin: 5px;
	text-decoration: none;
	background-color: #386496;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
}

.button-logout {
	display: inline-block;
	padding: 5px 5px;
	margin: 5px;
	text-decoration: none;
	background-color: #f36850;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
}

.button-login {
	display: inline-block;
	padding: 5px 5px;
	margin: 5px;
	text-decoration: none;
	background-color: #334a45;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
}

.button-link:hover {
	background-color: #0056b3;
}

.button-logout:hover {
	background-color: #f33b1b;
}

.button-login:hover {
	background-color: #0f5127;
}